<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    

                    <li>
                        <img class="img-responsive" src="assets/images/2714144.png" width="80">
                    </li>
                    <li>
                        <h6>N & D Architecture</h6>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href=""[routerLinkActive]="['is-active']">Home</a>
                    </li>
                    <li>
                        <a routerLink="about">About</a>
                    </li>
                    <li><a routerLink="reference">Reference</a></li>
                    <li>
                        <a routerLink="client">Client</a>
                    </li>
                    <li>
                        <a routerLink="contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>