.main{
    // padding-top: 4900px;
     width :1510px;
     padding-right:10px;
     align-items:left;
     height: 200px;
     position: relative;
     padding-bottom: 0%;
   
     
 }
 .container1{
     background-color:gray;
     align-items: left;
     padding-right: 700px;
     width: 1519px;
 } 
 
 
 .container{
     background-color: gray;
     padding-bottom: 0p;
     padding:0px;
     width: 2500px;
     text-align: center;
    
 }
 
 