
<div class = "main">
  <!-- Remove the container if you want to extend the Footer to full width. -->
  <div class="container1 ">
      <!-- Footer -->
      <footer
              class=" text-center text-lg-start text-white"
              >
        <!-- Grid container -->
        <div class="container">
          <!-- Section: Links -->
          <section class="v">
            <!--Grid row-->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                  N & D Architectures
                </h6>
                <p>
                  Design beyond what’s expected.
                </p>
              </div>
              <!-- Grid column -->
    
              <hr class="w-100 clearfix d-md-none" />
    
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                <p>
                  <a class="text-white">Houses</a>
                </p>
                <p>
                  <a class="text-white">Apartments</a>
                </p>
                <p>
                  <a class="text-white">Museum</a>
                </p>
                <p>
                  <a class="text-white">Beach cabin</a>
                </p>
              </div>
              <!-- Grid column -->
    
              <hr class="w-100 clearfix d-md-none" />
    
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                  Boston
                </h6>
                <p>
                  <a class="text-white">95 Chauncy Street</a>
                </p>
                <p>
                  <a class="text-white">2nd Floor</a>
                </p>
                <p>
                  <a class="text-white">Boston, MA 02111</a>
                </p>
                <p>
                  <a class="text-white">617 256 3125</a>
                </p>
              </div>
              
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                  New York
                </h6>
                <p>
                  <a class="text-white">13th St</a>
                </p>
                <p>
                  <a class="text-white">New York</a>
                </p>
                <p>
                  <a class="text-white"> NY 10011, USA</a>
                </p>
                <p>
                  <a class="text-white">617 266 3125</a>
                </p>
              </div>
              
              <!-- Grid column -->
              <hr class="w-100 clearfix d-md-none" />
    
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p><i class="fas fa-home mr-3"></i>Main Branch Amsterdam</p>
                <p><i class="fas fa-envelope mr-3"></i> n&darchitecturegmail.com</p>
                <p><i class="fas fa-phone mr-3"></i> +617 234 567 88</p>
                <p><i class="fas fa-print mr-3"></i> + 617 234 567 89</p>
              </div>
              <!-- Grid column -->
            </div>
            <!--Grid row-->
          </section>
          <!-- Section: Links -->
    
          <hr class="my-3">
    
          <!-- Section: Copyright -->
          <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
              <!-- Grid column -->
              <div class="col-md-7 col-lg-8 text-center text-md-start">
                <!-- Copyright -->
                <div class="p-3">
                  Privacy © 2023 N & D Architectures
                  <a class="text-white" href="https://mdbootstrap.com/"
                     ></a
                    >
                </div>
               
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                <!-- Facebook -->
                <a
                   class="btn btn-outline-light btn-floating m-1"
                   class="text-white"
                   role="button"
                   ><i class="fab fa-facebook-f"></i
                  ></a>
                 
                <!-- Twitter -->
                <a
                   class="btn btn-outline-light btn-floating m-1"
                   class="text-white"
                   role="button"
                   ><i class="fab fa-twitter"></i
                  ></a>
    
                <!-- Google -->
                <a
                   class="btn btn-outline-light btn-floating m-1"
                   class="text-white"
                   role="button"
                   ><i class="fab fa-google"></i
                  ></a>
    
                <!-- Instagram -->
                <a
                   class="btn btn-outline-light btn-floating m-1"
                   class="text-white"
                   role="button"
                   ><i class="fab fa-instagram"></i
                  ></a>
              </div>
              <!-- Grid column -->
            </div>
          </section>
          <!-- Section: Copyright -->
        </div>
        <!-- Grid container -->
      </footer>
      <!-- Footer -->
    </div>
    <!-- End of .container -->
  </div>