.para2 h1{
    font-size: 60px;
}
.d-block{
    height: 720px;
    width: 1280px;
    margin: auto;
    
  }
.p-profile h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    padding-top: 100px;
}
.p-profile p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-top: 100px;
    padding-left: 200px;
}
.para5 h1{
   font-family: 'Times New Roman', Times, serif;
}
.para5 h4{
    padding-left: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-top: 100px;

}
.para5 p{
    padding-left: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.video1{
    margin: auto;
    margin-top: 300px;
    margin-left: 150px;
}

.me h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 200px;
    font-size: 70px;
}
.me p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding-top: 100px;
 
}

