<section>
    <div class ="las">
    <div class="container6">
      <div class="row1">
      <div class="para9">
          <h1>Uniting families with<br> their environments</h1>
          <br><br>
          <mdb-carousel>
            <mdb-carousel-item [interval]="1000">
              <img src="assets/images/p1.jpg" class="d-block " alt="..." />
            </mdb-carousel-item>
            <mdb-carousel-item [interval]="2000">
              <img src="assets/images/p2.png" class="d-block " alt="..." />
            </mdb-carousel-item>
            <mdb-carousel-item [interval]="2000">
              <img src="assets/images/p3.jpg" class="d-block " alt="..." />
            </mdb-carousel-item>
            <mdb-carousel-item [interval]="2000">
              <img src="assets/images/p6.jpg" class="d-block " alt="..." />
            </mdb-carousel-item>
            <mdb-carousel-item [interval]="2000">
              <img src="assets/images/p7.jpg" class="d-block " alt="..." />
            </mdb-carousel-item>
          </mdb-carousel>
         <div class="p-profile">
            <h3>We love to build modernist homes that<br> connect with and celebrate their<br> natural environment..</h3>
            <p>Our first home in 2001 was a personal retreat we named Tera HOUSE.<br> An all-glass pavilion, flat roof,
              post
              and beam structure. <br>The home was off-grid and sustainable, giving us a sense <br>of independence and a
              synonymous relationship with our natural surroundings.</p>
            <img class="img-3" src="assets/images/desplay.jpg" width="900px">
          </div>
          <div class="para5">
            <h1>we are design house<br> and present<br> 3D modeule in <br>our costomers</h1>
            <h4>Design your future home</h4><br>
            <p>Both easy and intuitive, HomeByMe allows you to<br> create your floor plans in 2D and furnish<br>your home
              in 3D,
              while expressing your decoration style.</p>
            <div class="video1">
              <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" width="1200"height="640" >
                <source src="assets/c.mp4" type="video/mp4">
  
              </video>
            </div>
          </div>
          <div class="me">
            <h1>ABOUT ME</h1>
            <P>
              I am kawana kolan . stil in New York .I`m Houses Architect.I have the PhD in Architecture <br>in usiniversity of oXKAMA in New york.
              We believe that great homes begin with great relationships.<br> By listening and getting to know you we’ll gain<br>
              an intimate understanding of the requirements <br>of your home. Through discussions at our studio, on-site or in<br>
              your home you’ll come to know us and <br> philosophy. And, together, we will develop an inspired,
              collaborative process to realizing your vision.<br>
            </P>
          </div>
          
        </div>
      </div>
    </div>
    </div>
  </section>
  