<section>
    <div class="contacus">
        <div class="para-2">
            <div class="laras1">
                <div class="top1">
                  <h1>Say hello.</h1>
                  <h3>New York, Boston</h3>
                   <ul>
                    <li>kawana kelvin</li>
                    <li>n&dkawana@gmail.com</li>
                    <li>+6715536423</li>
                   </ul>
                   <div class="icon">
                        <ul> 
                         <li> <img class="img4" src="assets/images/face.png" width="60px"> : kawanakolan</li>
                         <li> <img class="img4" src="assets/images/in3.png" width="60px"> : kawanakolan</li>
                        </ul>   

                   </div>
                   <div class="r2">
                    <img class="img3 mb-4" src="assets/images/girl.jpg" width="1000px">
                   </div>
               
                </div>
            </div>
        </div>

    </div>
</section>
