

.top1 h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
    margin: auto;
    margin-top: 100px;
    margin-left: 190px;

}
.top1 h3{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    margin-top: 100px;
    margin-left: 190px;

}
.top1 ul {
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    margin-top: 100px;
    margin-left: 180px;
    font-size: 30px;
    


}
.r2{
    margin: auto; 
   margin-top: -600px;
   margin-left: 590px;
   border: 600px;
}

