.top h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.top p{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    margin-left: 100px;
    margin-top: 20px;
}
.top h4{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    margin-top: 100px;
    margin-left: 60px;
    
}
.img-6{
   margin: auto; 
   margin-top: 100px;
   margin-left: 200px;
   border: 100px;
}