<section>
   <div class="containers">
      <div class="row3">
         <div class="para1">
           
           <p > Qualified national architecture <br>that
           tackles complex challenges,<br> focusing on visionary design <br> in many type of <br>houses</p>
           <ul>
              <li>
              <img class="img-responsives" src="assets/images/beachhouse.jpg" width="1300px">
              </li>
           </ul>

            <div class="p-profile">
              <h3> We are forward-thinking leaders in <br>architecture and interior design.</h3>


             </div>
        </div>


          <div class="video">
  <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" width="1500" height="540">
     <source src="assets/Architect Career Video.mp4" type="video/mp4">

  </video>
  <div class="describ">
     <h1 > Great homes begin<br> with great relationships.</h1>
     <br>
     <h4>Throughout the design process, we collaborate with <br>
        each client to gain an understanding of their unique needs<br>
        – defining the success of each building.</h4>

  </div>
  <div class="work">
     <h1>View Project </h1>
     <br>
     <div class="p1">
        <span class="lar ">

           <div class="n">
              <h2>HARDY HOUSE</h2>
              <br>
              <ul>
                 <li> Module :1</li>
                 <li> Genaral constructor : Kenworth Homes</li>
                 <li> photographer : Riley Snelling</li>
              </ul>
           </div>
           <mdb-carousel [controls]="true">
              <mdb-carousel-item [interval]="10000">
                <img
                  src="assets/images/hardy3.jpg"
                  class="d-block "
                  alt="..."
                />
              </mdb-carousel-item>
              <mdb-carousel-item [interval]="2000">
                <img
                  src="assets/images/hardy2.jpg"
                  class="d-block "
                  alt="..."
                />
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img
                  src="assets/images/hardy.jpg"
                  class="d-block "
                  alt="..."
                />
              </mdb-carousel-item>
            </mdb-carousel>
        </span>

     </div>
     <br>
     <div class="p2">
        <span class="button ">
           <div class="n">
              <h3>BEACH HOUSE</h3>
              <br>
              <ul>
                 <li> Module :2</li>
                 <li> Genaral constructor : hdann Homes</li>
                 <li> photographer : Riley Snelling</li>
              </ul>
           </div>
           <mdb-carousel [controls]="true">
              <mdb-carousel-item [interval]="10000">
                <img
                  src="assets/images/beach4.jpg"
                  class="d-block "
                  alt="..."
                />
              </mdb-carousel-item>
              <mdb-carousel-item [interval]="2000">
                <img
                  src="assets/images/beach3.jpg"
                  class="d-block "
                  alt="..."
                />
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img
                  src="assets/images/beach2.jpg"
                  class="d-block "
                  alt="..."
                />
              </mdb-carousel-item>
            </mdb-carousel>
        </span>

     </div>
     <br>
     <div class="p3">
        <span class="button ">
           <div class="n">
              <h3>TERA HOUSE</h3>
              <br>
              <ul>
                 <li> Module :3</li>
                 <li> Genaral constructor : kaners Homes</li>
                 <li> photographer : Riley Snelling</li>
              </ul>
           </div>
           <mdb-carousel [controls]="true">
              <mdb-carousel-item [interval]="10000">
                <img
                  src="assets/images/tera1.jpg"
                  class="d-block "
                  alt="..."
                />
              </mdb-carousel-item>
              <mdb-carousel-item [interval]="2000">
                <img
                  src="assets/images/tera4.jpg"
                  class="d-block "
                  alt="..."
                />
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img
                  src="assets/images/tera3.png"
                  class="d-block "
                  alt="..."
                />
              </mdb-carousel-item>
            </mdb-carousel>

        </span>


     </div>
     <br>

     <div class="p4">
        <span class="button ">
           <div class="n">
              <h3>GALARIA HOUSE</h3>
              <br>
              <ul>
                 <li> Module :4</li>
                 <li> Genaral constructor : lesnerd Homes</li>
                 <li> photographer : Riley Snelling</li>
              </ul>
           </div>
           <mdb-carousel [controls]="true">
              <mdb-carousel-item [interval]="10000">
                <img
                  src="assets/images/mila1.jpg"
                  class="d-block "
                  alt="..."
                  
                />
              </mdb-carousel-item>
              <mdb-carousel-item [interval]="2000">
                <img
                  src="assets/images/mila2.jpg"
                  class="d-block"
                  alt="..."
                />
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img
                  src="assets/images/mila3.jpg"
                  class="d-block "
                  alt="..."
                />
              </mdb-carousel-item>
            </mdb-carousel>
        </span>

     </div>
     <div class="para2">
        <h2> we are alwayes try to undarstand the our customers </h2>
        <p> every time we are gathering to the our clients and mostly we are design <br>the plan to comminication with
           the ourclient </p>
     </div>
  </div>
</div>
</div>
   </div>
</section>